.register-box {
    margin-top: 10vh;
    height: 720px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    opacity: 1;
}