.register-box {
    margin-top: 10vh;
    // height: 720px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to right, #f7f7f7, #e7eef2);
    opacity: 1;
    border-radius: 10px;
}

#dropdown-basic {
    background-color: transparent;
    border: none;
}